<div class="main">
<div class="container">
     
    <div  class="cardbody">
      <h5 class="card-title text-center"> Forgot-Password</h5>
      <form class="form-signin" #regisform="ngForm" (ngSubmit)=" ValidateRegistration(regisform.value)" novalidate >
          <div >
              <label class="label">Enter User Id</label>
              <input class="ip" type="text" name="email" #email="ngModel" ngModel required/>
              <div class="er" *ngIf="regisform.submitted &&  email.invalid" > 
                  <div class="er"*ngIf="email.errors?.required"> Email Name is required</div>
              </div>
          </div>
  
         
          <div >
          <label class="label">Enter Password</label>
          <input class="ip" type="text" name="pwd" #pwd="ngModel" ngModel minlength="6" required/>
          <div class="er" *ngIf="regisform.submitted &&  pwd.invalid" > 
              <div class="er" *ngIf="pwd.errors?.required"> Password is required</div>
          </div>
          <div *ngIf="pwd.errors?.minlength">
            password must be at least 6 characters long.
            </div>
  
      </div>
      <div class="form-group">
          <label class="label">Enter confirm Password</label>
          <input class="ip" type="text" name="cpwd" #cpwd="ngModel" ngModel minlength="6" required/>
          <div class="er" *ngIf="regisform.submitted &&  cpwd.invalid" > 
              <div class="er" *ngIf="cpwd.errors?.required"> Password is required</div>
          </div>
          <div *ngIf="cpwd.errors?.minlength">
              password must be at least 6 characters long.
            </div>
      
      </div>
     
 

<div class="form-group">
<input type="submit" class="btn" class="btn btn-primary" value="submit" name="reg"/>

</div>


</form>
</div>
</div>
