<!-- <p>adminfeedback works!</p> -->
<!-- <button (click)="logout()">Logout</button> -->
<div class="cardcontainer">
    <div class="card" style="width: 50rem;" *ngFor="let data of dt;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h3 class="card-title">EventName:{{data.eventname}}</h3>
          <h3 class="card-subtitle " >Comments:{{data.feedback}}</h3>
          
         
          <p class="card-text">User: {{data.pname}}</p>
          
         
        </div>
      </div>
    </div>