<nav class="navcont">
  <button><a routerLink="Admin" (click)="refresh()" >Admin-Login</a></button>
  
  <button><a routerLink="Speaker">Speaker-Login</a></button>
  <button> <a routerLink="Participant">Participant-Login</a></button>
<button>  <a routerLink="ParticipantRegister">Participant-Register</a></button>
<button><a routerLink="Contactus">Contact-Us</a></button>
<!-- <button><a routerLink="testapi">testapi</a></button> -->
  

 
</nav>
<router-outlet>

</router-outlet>
<div class="main">
  <h1 style="font-family: 'Sacramento', cursive; width: 600px;height: 300px;margin-left: 400px; font-size: 80px;  font-weight: bolder;  color: #65c730;padding-top: 200px;">Event Management</h1>
  </div>

